extends gallery
    
block text 

block slider 
    #slider 
        -
            var urls = [
                'bluegreen/1',
                'bluegreen/2',
                'bluegreen/3',
                'bluegreen/4',
                'bluegreen/5',
                'bluegreen/6',
                'bluegreen/7'
            ];
        each item in urls
            img.slide(src=`../images/${item}.jpg`)