extends layout 

block content
    #inner_bg
        .inner_main 
            #inner_header
                span#trigger_inner_menu.inner_link WORKS
                span.inner_title VLADA
                a.inner_link(href='/') ABOUT
            .inner_menu.mutable.hidden#inner_main_menu
                -
                    var menu = [
                        {title: 'синий светофор', url: '/bluelights'},
                        {title: 'автопортреты', url: '/'},
                        {title: 'достоевский', url: '/dostoevsky'},
                        {title: 'зин влада', url: '/vlada'},
                        {title: 'портреты', url: '/'}, 
                        {title: 'фотосерии', url: '/'},
                        {title: 'шум', url: '/noise'}, 
                        {title: 'об авторе', url: '/'}
                    ];
                each item in menu
                    if item.title === 'фотосерии'
                        span.trigger.inner_menu_item= item.title.toUpperCase()
                    else
                        a(href=item.url): span.inner_menu_item= item.title.toUpperCase()
            .inner_menu.mutable.hidden_submenu
                -
                    var sub_menu = [
                        {title: 'голубо-зелёный', url: '/bluegreen'},
                        {title: 'дача', url: '/country'},
                        {title: 'пастель', url: '/pastel'},
                        {title: 'назад', url: '/'}
                    ];
                each item in sub_menu
                    if item.title === 'назад'
                        span.trigger.inner_menu_item= item.title.toUpperCase()
                    else 
                        a(href=item.url): span.inner_menu_item= item.title.toUpperCase()
            block text
    block gallery
    #footer

    script(src='/javascripts/index.js')