extends layout

block content 
  #container_main
    .main
      .block2 
        h1#title= title
      .block3
        .inner1
          h1.start.hidden= 'ОБ АВТОРЕ'
        .inner2.mutable
          -
            var menu = [
              {title: 'синий светофор', url: '/bluelights'},
              {title: 'автопортреты', url: '/'},
              {title: 'достоевский', url: '/dostoevsky'},
              {title: 'зин влада', url: '/vlada'},
              {title: 'портреты', url: '/'},
              {title: 'фотосерии', url: '/'}
            ];
          each item in menu
            if item.title === 'фотосерии'
              p: span.trigger.menu_item.other.hidden= item.title
            else 
              p: a(href=item.url):  span.menu_item.other.hidden= item.title
          p: a(href='/noise'): span.menu_item.last.hidden шум
        .inner2.mutable.hidden_submenu
          -
            var sub_menu = [
              {title: 'голубо-зелёный', url: '/bluegreen'},
              {title: 'дача', url: '/country'},
              {title: 'пастель', url: '/pastel'},
              {title: 'назад', url: '/'}
            ];
          each item in sub_menu
            if item.title === 'назад'
              p: span.trigger.menu_item.other.hidden= item.title
            else 
              p: a(href=item.url):  span.menu_item.other.hidden= item.title

  script(src='/javascripts/index.js')

    

