extends gallery_menu

block gallery 
    #gallery
        <iframe width="860" height="615" src="https://www.youtube.com/embed/W3Fty5A5I6o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>